@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    }
img{
    display: block;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
.wrap{
	overflow: hidden;
}
.sd{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	z-index: 999;
	transition: 2s ease-in-out;
	display: none;
}
.silde{
	width: 100%;
	height: 52px;
	background: #000;
	opacity: .8;
	transition: top .1s ease-out;
	box-shadow: 0 0 4px #eaeaea;
}
.searchSilde{
	width: 1000px;
	margin: 0 auto;
	height: 52px;
	position: relative;
}
.top-search{
	width: 774px;
	position: absolute;
    top: 10px;
    left: 432px;
    z-index: 999;
}
#topSearchInput{
	width: 659px;
	height: 30px;
	outline: none;
	background: #fff;
	text-indent: 18px;
}
.top-search>ul{
	position: absolute;
	top: 5px;
	left: 515px;
}
.top-search>ul li{
	float: left;
}
.top-search>ul li a{
	text-decoration: none;
	color: #3e3e3e;
	font-size: 12px;
	margin-right: 5px;
	background: #f0f0f0;
}
.top-search>ul li a:hover{
	background: #dfdfdf;
}
.topSearchK{
	width: 61px;
	height: 30px;
	background: #fc378c;
	position: absolute;
	top: 0;
	left: 659px;
}
.topSearchK span{
	display: block;
	height: 30px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.top-logo{
	display: inline-block;
    width: 226px;
    height: 32px;
    margin-top: 9px;
    color: #fff;
}
.searchSilde .new-logo{
	display: inline-block;
    width: 110px;
    height: 31px;
    line-height: 31px;
    background: url(//gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/common/widget/top_search_box/img/logo-small_94bb125.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}
#rightList{
	width: 46px;
	height: 142px;
	background: #f5f5f5;
	position: fixed;
	bottom: 0;
	right:2px;
	z-index: 9999;
	display: none;
	transition: 1s ease-out;
}
#rightList li{
	width: 46px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	border: 1px solid #dfdfdf;
	color: #999;
	position: relative;
}
#rightList li:hover .le{
	display: block;
}
#rightList li .le{
	display: none;
}
#rightList li .ri{
	position: absolute;
	top: 0px;
	left: 8px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	font-size: 27px;
	z-index: -1;

}
#rightList li:nth-of-type(2){
	font-size: 27px;
	padding-top: 3px;
}
#rightList li:nth-of-type(1),#rightList li:nth-of-type(2){
	border-bottom: none;
}
#rightList li:hover{
	border: 1px solid #FF4883;
	color: #fff;
	background: #FF4883;
}
#leftList{
	width: 30px;
	height: 30px;
	position: fixed;
	top:40%;
	left: 26px;
	display: none;
}
#leftList li{
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	position: relative;
   border-bottom: 1px solid #f3f3f3;
   border-left: 1px solid #f3f3f3;
   border-right: 1px solid #f3f3f3;
}
#leftList li:nth-of-type(1){
   border-top: 1px solid #f3f3f3;
	
}
#leftList li:hover span{
	display: block;
}
#leftList li:hover i{
	display: none;
	
}
#leftList li i{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	color: #666;
}
#leftList li span{
	position: absolute;
	top:2px;
	left: 3px;
	display: none;
	color: #FF4883;
}
.block{
	display: block;
}
.none{
	display: none;
}
/*#leftList li span:hover{
	color: #FF4883;
}*/
.header{
	width:100%;
	height:37px;
	line-height: 37px;
	background: #fafafa;
}
.headerInner{
	width: 1209px;
	height:37px;
	line-height: 37px;
	position: relative;
	top: 0;
	left: 79px;
	position: relative;
}
.headerInner .left{
	width: 108px;
	height: 37px;
	position: relative;
}
.headerInner .left li{
	height: 37px;
	list-style: none;
	float: left;
	font-size: 13px;
	color: #8c8c8c;
	box-sizing: border-box;
}
.line{
	position: absolute;
    display: block;
    top: 50%;
    left: 33px;
    width: 1px;
    height: 12px;
    margin-top: -17px;
}
.headerInner .left li:nth-of-type(2){
	width: 76px;
	height: 37px;
	padding-left: 17px;
}
.headerInner .left li a{
	text-decoration: none;
	color: #8c8c8c;
}
.icon{
	position: absolute;
	top: 3px;
	left: 102px;
	transform: rotate(-90deg);
}
.headerInner .right{
	position: relative;
	left: 454px;
	top: -37px;
}
.headerInner .right li{
	width: 70px;
	height: 37px;
	line-height: 37px;
	list-style: none;
	float: left;
	padding-right: 12px;
	margin-top: -10px;
	position: relative;
	
}
.headerInner .right li a{
	font-size: 13px;
	text-decoration: none;
	color: #8c8c8c;
}
.line2{
	position: absolute;
	top: 0;
	left: 36px;
	color: #8c8c8c;
}
.line3{
	position: absolute;
	top: 0;
	left: 69px;
	color: #8c8c8c;
}
.icon2{
	position: absolute;
	top: 0px;
	color: #8c8c8c;
	transform: rotate(-90deg);
}
.l{
	width: 30px;
}
.big{
	width: 70px;
	padding-right: 20px;
}
.search{
	width: 1209px;
	height: 90px;
	position: relative;
	left: 78px;
	top: 0;
}
.search .logo{
	position: absolute;
	top: 31px;
	left: 0;
}
.search input[type='text']{
	border: 1px solid #dfdfdf;
	width: 444px;
	height: 41px;
	position: absolute;
	top: 31px;
	left: 561px;
	outline: none;
	color: #bcbcbc;
	text-indent: 20px;
	border-right: none;
}
.search ul{
	position: absolute;
	top: 43px;
	left: 824px;
	z-index: 1;
}
.search ul li{
	list-style: none;
	float: left;
}
.search ul li a{
	text-decoration: none;
	color: #3e3e3e;
	font-size: 12px;
	margin-right: 5px;
	background: #f0f0f0;
}
.s{
	width: 43px;
	height: 40px;
	border: 1px solid #dfdfdf;
	border-top:none;
	position: absolute;
	top: 32px;
	right: 204px;
}
.searchStyle{
	width: 44px;
	height: 41px;
}
#search{
	width: 44px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.souRight ul{
	width:154px;
	height: 40px;
	position: absolute;
	top: 33px;
	left: 1056px;
	box-sizing: border-box;
}
.souRight ul li{
	width: 51px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	list-style: none;
	background: #feda4e;
	
}
.souRight ul li i{
	width: 0;
	height: 24px;
	border: 1px solid #ebca4d;
	
}
.souRight ul li i:nth-last-of-type(1){
	position: absolute;
	top: 8px;
	left:51px;
}
.souRight ul li:nth-last-of-type(2) i{
	position: olute;
	top: 8px;
	left:102px;
}
.souRight ul li .util1{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 50%;
	font-size:13px;
    margin-top: 10px;
    margin-left: 16px;
}
.util-tip{
	display: none;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 2px #dfdfdf;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    color: #313137;
    position: absolute;
    top: 46px;
    left: -1px;
    padding: 0 12px;
    z-index: 999;
    text-align: left;
    white-space: nowrap;
}
.navZ{
	width: 1210px;
	height: 460px;
	position: relative;
	left: 78px;
	top: 0;
}
.nav{
	width: 1210px;
	height: 44px;
	background: brown;
	position: relative;
}
.nav span{
	display: block;
	width:226px;
	height: 44px;
	line-height: 44px;
	background:#ff318c ;
	text-indent:18px ;
	color: #fff;
	font-size: 19px;

}
.nav .nav1{
	width: 985px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #313137;
	position: absolute;
	top: 0;
	left:226px;
	
}
.nav .nav1>li{
	list-style: none;
	float: left;
	width: 120px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: relative;
	transition: .5s;
}
.nav .nav1>li img{
	position: absolute;
	top: 15px;
	left: 84px;
	z-index: 999;
}
.nav .nav1>li a{
	color: #fff;
	text-decoration: none;
}
.active{
	background: #080809;
}	
.pic{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #fff;
    position:absolute;
    top: 20px;
    left: 79px;
}
.nav .nav1>li:hover .pic{
	transform: rotate(180deg);
}

.nav .nav1>li .nav2{
	width: 108px;
	height: 125px;
	background: #313137;
	position: relative;
	z-index: 2;
	display: none;
}
.nav .nav1>li:hover .nav2{
	display: block;
}
.nav .nav1>li .nav2 li{
	width: 108px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	border-bottom: 1px solid #414045;
}
.nav .nav1>li .nav2 li:hover{
	background: #080809;
}
.nav .nav1>li .nav2 li:nth-of-type(3){
	border: none;
}
.navzLeft{
	width: 226px;
	height: 416px;
	position: relative;
}
.navzLeft ul{
	width: 226px;
	height: 416px;
	background: #f9f9f9;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.navzLeft ul li{
	width: 226px;
	height: 52px;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
}
.write{
	background: #fff;
	
}
.navzLeft ul li dl{
	width: 226px;
	height: 52px;
}
.navzLeft ul li dl dt a{
	color: #333;
	font-size: 18px;
	float: left;
	padding-left: 20px;
	padding-top: 14px;
	font-weight: 600;
	text-decoration: none;
}
.navzLeft ul li dl dt a:hover{
	color: #ff4883;
}
.navzLeft ul li dl dd a:hover{
	color: #005aa0;
	text-decoration: underline;
}
.navzLeft ul li dl dd a{
	float: right;
	padding-top: 19px;
	padding-right: 20px;
	color: #999;
	font-size: 13px;
}
.leftDel{
	width: 453px;
	height: 413px;
	position: absolute;
	top: 0px;
	left:226px;
	z-index: 999;
	background: #fff;
    display: none;
	
}
.leftDel>div{
	width: 453px;
	height: 415px;
	border: 1px solid #eaeaea;
    box-shadow: 1px 1px 1px #eaeaea;
    display: none;
}

.leftDel1-item1,.leftDel1-item2,.leftDel2-item1{
	width: 434px;
	height: 92px;
	margin-left: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #999;
}
.leftDel1-item3,.leftDel2-item2,.leftDel3-item1,.leftDel3-item2,.leftDel5-item1,.leftDel7-item1,.leftDel8-item1{
	width: 434px;
	height: 92px;
	margin-left: 20px;
	margin-top: 20px;
}
.leftDel>div dt{
	color: #000;
    width: 50px;
    margin-bottom: 3px;
    line-height: 15px;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 12px;
}
.leftDel>div dt a{
	text-decoration: none;
}
.leftDel1-item1 dd a,.leftDel1-item2 dd a,.leftDel1-item3 dd a,.leftDel2-item1 dd a,.leftDel2-item2 dd a,.leftDel3-item1 dd a,.leftDel3-item2 dd a,.leftDel5-item1 dd a,.leftDel8-item1 dd a,.leftDel7-item1 dd a{
	color: #999;
	font-size: 10px;
	padding-right: 12px;
	margin-bottom: 7px;
	float: left;
	border-right: 1px solid #DFDFDF;
    margin-right: 10px;
}
#noborder{
	border: none;
}
#clear{
	border: none;
}
#activePin{
	color: #ff4883;
}
#activePin:hover{
	color: #005aa0;
	text-decoration: underline;
}
.leftDel div dl dd a:hover{
	color: #005aa0;
	text-decoration: underline;
}

/*navZ主体的右边*/
.navzRight{
	width: 984px;
	height: 416px;
	position: absolute;
	top: 44px;
	left: 226px;
	z-index: 0;
}
.picActive{
	width: 737px;
	height: 259px;
	position: relative;
	overflow: hidden;
}
.picActive ul{
	width: 200%;
	height: 259px;
	position: absolute;
	top: 0;
	left: 0;
}
.picActive li{
	width: 737px;
	height: 259px;
	float: left;
	transition: 1s;
}
.picActive span{
	display: block;
	width: 42px;
	height:47px;
	line-height: 47px;
	background: #000;
	opacity: .5;
	font-size: 32px;
	text-align: center;
	color: #FFF;
	display: none;
}
.picActive .btnLeft{
	position: absolute;
	transform: translateY(-23PX);
	top: 50%;
	left: 0;
}
/*.picActive:hover .btnLeft,.picActive:hover .btnRight{
	display: block;
}*/
.picActive .btnRight{
	position: absolute;
	transform: translateY(-23PX);
	top: 50%;
	right: 0;
}
.autoActive{
	width: 246px;
	height: 259px;
	position: relative;
	top:-259px;
	left:738px;
}
.autoActive ul{
	width: 246px;
	height: 259px;
}
.autoActive ul li{
	width: 246px;
	height: 259px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s;
}
.autoActive ul li:nth-of-type(1){
	opacity: 1;
}
.autoActive ul li:nth-of-type(2){
	opacity: 0;
}
.autoActive ul:nth-of-type(1) li img{
	width: 246px;
	height: 259px;
}



.autoActiveItem{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(20px);
	transform: translateX(-25px);
}
.autoActiveItem span{
	width: 10px;
	height: 10px;
	display: block;
	background: #ddd;
	float: left;
	margin-left: 6px;
	border-radius: 50%;
	transition: 1s;
}
.autoActiveItem .AutoActiveColor{

	background: #FF4883;
	
}
.NavzRightBottom{
	width: 985px;
	height: 255px;
	position: absolute;
	top:260px;
	left: 0px;

}
.NavzRightBottom>div{
	width:246px;
	height: 156px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	float: left;
	box-sizing: border-box;
}
.NavzRightBottom>div:nth-of-type(4){
	border-right: 1px solid #dfdfdf;
	
}
.NavzRightBottom div dl{
	width: 100%;
    height: 120px;
	margin-left: 32px;
	margin-top: 31px;
}
.NavzRightBottom div dt{
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 52px;
}
.NavzRightBottom div dd{
	font-size: 13px;
	color: #999;
    float: left;
    padding-right: 24px;
    height: 30px;
}
.brandSelection{
	width: 1211px;
	height: 427px;
	position: relative;
	left: 78px;
	top: 0;
}
.brandSelection .tille{
	display: block;
	font-size: 20px;
    line-height: 40px;
    padding-top: 20px;
    float: left;
}
.brandSelection .subTille{
	color: #999;
    font-size: 16px;
    line-height: 22px;
    margin: 30px 0 0 5px;
    float: left;
}
.tatol{
	position: absolute;
	top:36px;
	left: 927px;
	color: #666;
}
.brandSelItem{
	position: absolute;
	top:36px;
	left: 961px;
}
.brandSelection a{
	text-decoration: none;
}
.brand{
	position: absolute;
	top:60px;
	left: 0;
	width: 227px;
	height: 335px;
}
.brandSelLeft ul{
	width: 738px;
	height: 339px;
	position: absolute;
	top:60px;
	left: 228px;
	z-index: 99;
}
.brandSelLeft ul li{
	float: left;
	width: 147px;
	height: 84px;
	border: 1px solid #DFDFDF;
}
.brandSelLeft ul li img{
	width: 144px;
	height: 81px;
}
.brandSelRight{
	width: 229px;
	height: 115px;
	position: absolute;
	top: 21px;
	right: 0;
	border: 1px solid #DFDFDF;
}
.brandRight{
	width: 225px;
	height: 110px;
}

/*floor开始*/
.floor-food{
	width: 1229px;
	height: 2695px;
	position: relative;
	top:0px;
	left: 78px;
	overflow: hidden;
}
.floor-food .foodHeader,.playing .foodHeader,.life .foodHeader,.hotel .foodHeader,.local .foodHeader,.beauty .foodHeader{
	height: 27px;
    line-height: 27px;
    padding: 6px 0;
    position: relative;
} 
.floorIcon{
	display: block;
	font-size: 20px;
    color: #444;
}
.ft{
	font-size: 20px;
    color: #444;
    font-weight: 600;
    position: absolute;
    top: -13px;
    left:34px ;
    
}
.floor-food .foodHeader .floorHeaderR,.playing .foodHeader .floorHeaderR,.life .foodHeader .floorHeaderR,.hotel .foodHeader .floorHeaderR,.local .foodHeader .floorHeaderR,.beauty .foodHeader .floorHeaderR{
	width:450px;
	height: 27px;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	right: 57px;
}
.floorHeaderR li{
	 height: 19px;
	 line-height: 19px;
	 float: left;
	 padding-left: 19px;
	 padding-right: 19px;
	 border-right: 1px solid #dfdfdf;
}
.floorHeaderR li a{
		 color: #767676;
}
.floorHeaderR li a:hover{
		 color: #005aa0;
		 text-decoration: underline;
}
.floor-food .foodHeader .all,.playing .foodHeader .all,.life .foodHeader .all,.hotel .foodHeader .all,.local .foodHeader .all,.beauty .foodHeader .all{

		position: absolute;
		top:5px;
		right:16px;
}
.floor-food .foodHeader .all a,.playing .foodHeader .all a,.life .foodHeader .all a,.hotel .foodHeader .all a,.local .foodHeader .all a,.beauty .foodHeader .all a{
		color: #767676;
}
.floor-food .foodHeader .all a:hover{
		 color: #005aa0;
		 text-decoration: underline;
	
}
.floor-food .foodHeader .foodD,.playing .foodHeader .foodD,.life .foodHeader .foodD,.hotel .foodHeader .foodD,.local .foodHeader .foodD,.beauty .foodHeader .foodD{
		position: absolute;
		top:5px;
		right:2px;
		 color: #767676;
		 font-size:19px;
		display: block;
	    width: 7px;
	    height: 11px;
}
.floor-food>.floorCon{
	width: 1230px;
	height: 2585px;
	position: relative;
	top:14px;
	left: 0;
	overflow: hidden;
}

.playing>.floorCon,.life>.floorCon,.hotel>.floorCon,.local>.floorCon,.beauty>.floorCon{
	width: 1230px;
	height:727px;
	position: relative;
	top:14px;
	left: 0;
}
.floor-food>.floorCon>li,.playing>.floorCon>li,.life>.floorCon>li,.hotel>.floorCon>li,.local>.floorCon>li,.beauty>.floorCon>li{
	width: 236px;
	height: 330px;
	padding: 0px 2px;
	float: left;
   	border: 1px solid #fff;
   	margin-right: 10px;
   	margin-bottom:42px;
}
 /*.floorCon li:hover,.playing li:hover,.life li:hover{
   	border: 1px solid #ff4883;
   }*/
.floorConImg{
	width: 224px;
	height:136px;
	margin: 2px 3px 0 3px;
	padding-top: 3px;
}
.floorConActive{
	width: 224px;
	height: 36px;
	line-height: 36px;
	opacity: 0;
	background: #000;
	position: absolute;
	top:100px;
	left: 3px;
	text-overflow: ellipsis;
	z-index: 1;
}
.floorConActive .map-marker{
	padding-left: 6px;
}
.floorConActive span{
	padding-right: 6px;
	color: #fff;
	font-weight: 100;
	font-size: 12px;
}
.image{
	transition: .6s;
	position: relative;
}
.image:hover .floorConActive{
	display: block;
	
}
.content .conT{
	text-decoration: none;
}
.content .contentTitle{
	color: #444;
    font-size: 16px;
    max-width: 186px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}
 .content  .conP{
 	line-height: 20px;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
 	color: #666;
}
 .content  .conP:hover{
 	color: #005aa0;
 }
 .promo{
 	width: 54px;
 	height: 18px;
 	line-height: 18px;
 	text-align: center;
 	font-size: 13px;
	margin-top: 23px;
 }
 .promo1{
 	color: #fff;
 	display: inline-block;
 	width: 54px;
 	height: 18px;
 }
.pinfo{
	 margin-top: 10px;
 	 line-height: 32px;
     height: 35px;
 }
 .moneyico{
 	margin-right: 5px;
    font-size: 16px;
 }
 .price{
 	color: #ff4883;
    font-size: 24px;
    float: left;
    font-family: arial;
 }
 .ori-price{
 	  float: left;
    margin-left: 5px;
    color: #9e9e9e;
    line-height: 13px;
    margin-top: 13px;
 }
   .priceLine{
       text-decoration: line-through;
   	
   }
   .footer{
   	line-height: 23px;
    color: #9e9e9e;
    position: relative;
   }
  .footer .comment{
  	    color: #005aa0;
  }
  .sold{
   float: right;
  }
  .bottom-border{
  	position: absolute;
    bottom: -25px;
    left: -2px;
    width: 120%;
    border-bottom: 1px solid #dfdfdf;
  }
  
.allTungou{
	display: block;
    height: 35px;
    text-align: center;
    color: #767676;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: -1px;
}
#allTungou{
	display: block;
	height: 35px;
	line-height: 35px;
	 line-height: 35px;
    text-align: center;
    color: #767676;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: 1px;
}
/*2娱乐*/
.playing{
	width: 1223px;
	height: 837px;
	position: relative;
	top: 0;
	left: 78px;
	overflow: hidden;
}
/*3生活*/
.life{
	width: 1223px;
	height: 837px;
	position: relative;
	top: 0;
	left: 78px;
	overflow: hidden;
}
/*4酒店*/
.hotel{
	width: 1223px;
	height: 837px;
	position: relative;
	top: 0;
	left: 78px;
	overflow: hidden;
}
.local{
	width: 1223px;
	height: 837px;
	position: relative;
	top: 0;
	left: 78px;
	overflow: hidden;
}
.beauty{
	width: 1223px;
	height: 837px;
	position: relative;
	top: 0;
	left: 78px;
	overflow: hidden;
}
.footTab{
	width: 966px;
	height: 173px;
	border: 1px solid #dfdfdf;
	position: relative;
	top: 0;
	left: 78px;
}
.footNav{
	width:100%;
	height: 33px;
	border: 1px solid #dfdfdf;
}
.footNav li{
	float: left;
	width: 97px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: #fff;
}
.footNav li a{
	color: #949494;
	text-decoration: none;
}
.footTab .footNav .FootNavActive{
	color: #666;
	background: #f5f5f5;
	border-bottom:none;
}
.footContent{
	width: 100%;
	height: 141px;
	margin-top: -10px;
	background: #f5f5f5;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
.footContent ul{
	display: none;
	width: 946px;
	height: 101px;
	padding: 18px 0 0 20px;
	box-sizing: border-box;
}
.footTab .footContent .list1{
	display: block;
}
.footContent ul li{
	width: 184px;
	height: 26px;
	line-height: 26px;
	float: left;
}
.footContent .list li a{
	color: #666;
	text-decoration: none;
}
.footContent .list li a:hover{
	color: #005aa0;
	text-decoration: underline;
}
.foot{
	width: 100%;
	height: 252px;
	margin-top: 150px;
	background: #f5f5f5;
}
.footerContent{
	width: 1315px;
	height: 252px;
	padding: 51px 77px 51px 19px;
}
.footerContent ul{
	width: 241px;
	height: 150px;
	text-align: center;
	float: left;
	border-right: 1px solid #dfdfdf;
}
.footerContent ul li a{
color: #666;
text-decoration: none;
	
}
.footerContent ul li a:hover{
	color: #005aa0;
	text-decoration: underline;
}