@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
body{
	background: #eee;
	overflow-x: hidden;
}
ul li{
	list-style: none;
}
header{
	width: 100%;
	height: 6.375rem;
}
.head{
	width: 26.1rem;
	height: 6.375rem;
	background:#fff;
	margin: 0 auto;
}
.head ul{
	width: 100%;
	height: 100%;
}
.head ul li img{
	width:3.15rem;
	height:3.15rem;
}
.head ul li{
	float: left;
	width: 3.97rem;
	height:5.375rem;
	margin: 1rem 1.125rem 0 1.125rem;
	position: relative;

}
.head ul li span{
	position: absolute;
	top: 3.5rem;
	left: 0.225rem;
	font-size: 0.875rem;
	color: #4d525d;
}
section:nth-of-type(1){
	width: 100%;
	height: 13.2rem;
	margin: 0.45rem 0 0.45rem 0;
}
.secondsKill{
	width: 26.1rem;
	height: 13.2rem;
	background:#fff;
	margin: 0 auto;
	position: relative;
}
.secondsKill div{
	width: 100%;
	height: 2.325rem;
	padding-top: 0.825rem;
}
.h3{
	font-weight: normal;
	text-indent: 0.875rem;
}
.secondsImage{
	width:1.275rem;
	height: 1.5rem;
	position: absolute;
	top: 0.825rem;
	left:4.425rem;
}
.secondsKill div p{

	height: 1.5rem;
	width: 20.025rem;
	position:absolute;
	top: 0.825rem;
	left: 6.075rem;
}
.secondsKill div p span{
	display: block;
	width:1.05rem;
	height:1.5rem;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 1.5rem;
	background: #31343a;
	border-radius: 0.125rem;
	margin-right: 0.075rem;
	font-size: 0.8rem;
}
.secondsKill div p b{
	float: left;
	margin-right: 0.075rem;
}
.secondsKill ul{
	width:26.1rem;
	height:9.525rem;
	margin-left: 0.375rem;
}
.secondsKill ul li{
	width: 8.225rem;
	height:9.525rem;
	float: left;
}
.secondsKill ul li img{
	width:7.8rem;
	height:7.8rem;
}
.secondsKill ul li span{
	color: #fe435d;
	font-size: 0.75rem;
}
section:nth-of-type(2){
	width: 100%;
	height: 6.275rem;
}
.nav{
	width:26.1rem;
	height: 6.275rem;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	
}
.nav ul{
	width: 53.1rem;
	height: 6.275rem;

}
.nav ul li{
	width:26.55rem;
	height: 6.275rem;
	float: left;
}
.nav ul li img{
	width:26.1rem;
	height: 6.275rem;
}
section:nth-of-type(3){
	width: 100%;
	height: 22rem;
}
.mostWorth{
	width:26.1rem;
	height: 22rem;
	margin: 0.375rem auto;
	
}
.mostWorthHead{
	width: 26.1rem;
	height: 2.925rem;
	position: relative;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.title{
	position: absolute;
	top:0.75rem;
	left:0.425rem;
	color: #4a525d;
}
h5{
	color: #fe435d;
	position: absolute;
	top:0.85rem;
	right:1.8rem;
}
.mostWorthHead span{
	display: block;
	width:0.95rem;
	height:0.95rem;
	line-height:0.95rem;
	text-align: center;
	background:#fe435d;
	color: #fff;
	border-radius: 0.075rem;
	position: absolute;
	top:0.975rem;
	right: 0.45rem;
}
.mostWorthMain{
	width: 26.1rem;
	height: 19rem;
	background: #fff;
	box-sizing: border-box;
}
.mostWorthMain .left{
	width: 13.125rem;
	height: 19rem;
	float: left;
	background-size: cover;
	border-right: 1px solid #eee;
}
.mostWorthMain .mostone{
	background-image: url(../img/1111.png);
}
.mostWorthMain .bookLeft{
	background-image: url(../img/444.png);
}
.mostWorthMain .foundBookLeft{
	background-image: url(../img/S_08.png);
}
.mostWorthMain .ChildBookLeft{
	background-image: url(../img/S_15.png);
}
.mostWorthMain .ClothingLeft{
	background-image: url(../img/cc_03.png);
}
.mostWorthMain .movementLeft{
	background-image: url(../img/S_21.png);
}
.mostWorthMain .campusLeft{
	background-image: url(../img/S_25.png);
}
.mostWorthMain .BabyLeft{
	background-image:url(../img/S_31.png);
}
.mostWorthMain .lifeLeft{
	background-image:url(../img/S_36.png);
}
.mostWorthMain .productLeft{
	background-image:url(../img/S_41.png);
}
/**/
.leftImages{
	width:13.05rem;
	height:18.75rem;
}
.mostWorthMain .right{
	width:12.875rem;
	height:19rem;
	float: left;
}
.mostWorthMain .right .top{
	width:12.875rem;
	height:9.525rem;
	border-bottom: 1px solid #eee;
	background-size:12.875rem 9.525rem;
}
.mostWorthMain .right .mostTop{
	background-image: url(../img/222.png);
}

.mostWorthMain .right .bookTop{
	background-image: url(../img/555.png);
}
.mostWorthMain .right .foundBookTop{
	background-image: url(../img/S_10.png);
}
.mostWorthMain .right .ChildBookTop{
	background-image: url(../img/S_16.png);
}
.mostWorthMain .right .ClothingTop{
	background-image: url(../img/cc_04.png);
}
.mostWorthMain .movementTop{
   background-image: url(../img/S_22.png);
}
.mostWorthMain .campusTop{
	background-image: url(../img/S_27.png);
}
.mostWorthMain .BabyTop {
	background-image: url(../img/S_32.png);
}
.mostWorthMain .lifeTop{
	background-image: url(../img/S_37.png);
}
.mostWorthMain .productTop{
	background-image:url(../img/S_42.png);
}
/**/
.content{
	width:12.575rem;
	height: auto;
	padding: 1.025rem 0 0 0.85rem;
}
.content dt,.foundContent dt{
	width:12.575rem;
	height: 1.525rem;
	color: #51595c;
	font-size: 1.05rem;
}
.content dd,.foundContent dd{
	color: #9d9d9d;
	font-size: 0.9rem;
}
.content dd  .red,.foundContent dd .red{
	color: #f32527;
}
.foundContent{
	width: 13.125rem;
	text-align: center;
	height: auto;
	padding-top: 1.325rem;
}
.mostWorthMain .right .bottom{
	width:12.875rem;
	height: 9.45rem;
	
	background-size:12.875rem 9.45rem;
	border-bottom: 1px solid #eee;
}
.mostWorthMain .right .mostBottom{
	background-image: url(../img/333.png);
}

.mostWorthMain .right .bookBottom{
	background-image: url(../img/666.png);
	
}
.mostWorthMain .right .foundBookBottom{
	background-image: url(../img/S_12.png);
}
.mostWorthMain .right .ChildBookBottom{
	background-image: url(../img/S_18.png);
}
.mostWorthMain .right .ClothingBottom{
	background-image: url(../img/cc_08.png);
}
.mostWorthMain .movementBottom{
	background-image: url(../img/S_06.png);
}
.mostWorthMain .campusBottom{
	background-image: url(../img/S_28.png);
}
.mostWorthMain .BabyBottom{
	background-image:url(../img/S_33.png);
}
.mostWorthMain .lifeBottom{
	background-image:url(../img/S_38.png);
}
.mostWorthMain .productBottom{
	background-image:url(../img/S_44.png);
}
/**/
.theme{
	width: 100%;
	height: 39rem;
}
.themeMain{
	width: 26.1rem;
	height: 39rem;
	margin: 0 auto;
	background: #fff;
}
.themeMainM{
	width: 26.1rem;
	height: 36.125rem;

}
.themeMainM>div{
	width: 12.975rem;
	height: 5.925rem;
	border-bottom:1px solid #eee;
	float: left;
	background-size: cover;
	
}
.themeMainM>div:nth-of-type(n+1){
	border-right:1px solid #eee;
}
.themeMainContent{
	width: 12.125rem;
	height: auto;
	padding: 1.675rem 0 0 0.875rem;
}
.themeMainContent dt{
	width: 12.125rem;
	height: 1.65rem;
	font-size: 1.025rem;
	color: #64676d;
}
.themeMainContent dd{
	width: 12.125rem;
	height: 1.65rem;
	color: #a2a2a2;
	font-size: 0.925rem;
}
.tubook{
	background-image: url(../img/ee_03.png);

}
.childbooks{
	background-image:url(../img/ee_04.png);
}
.underwear{
	background-image:url(../img/ee_07.png);
}
.men{
	background-image:url(../img/ee_08.png);
}
.Shoe{
	background-image:url(../img/ee_11.png);
}
.outdoors{
	background-image:url(../img/ee_12.png);
}
.furniture{
	background-image:url(../img/ee_14.png);
}
.infant{
	background-image:url(../img/ee_15.png);
}
.phone{
	background-image:url(../img/ee_17.png);
}
.food{
	background-image:url(../img/ee_18.png);
}
.makeup{
	background-image:url(../img/ee_20.png);
}
.Household{
	background-image:url(../img/ee_21.png);
}
.login{
	width: 100%;
	height: 3.75rem;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	position: relative;
}
.login ul{
	width:8.15rem;
	height:3.75rem;
	padding-left: 0.825rem;
}
.login ul li{
	float: left;
	width: 4rem;
	height:3.75rem;
	line-height:3.75rem;
	text-align: center;
	color: #4d525d;
	font-size: 1rem;
}
.login img{
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	top:1.3rem;
	left:23.025rem;
}
.login span{
	font-size: 0.8rem;
	color: #4d525d;
	position: absolute;
	top:1.3rem;
	right: 0.75rem;
	
}
footer{
	width: 27rem;
	height: 6.1rem;
	background: #fff;
}
footer ul{
	width: 18.65rem;
	height:2.8rem;
	padding-left: 4.85rem;
}
footer ul li{
	float: left;
	width: 4.425rem;
	height:2.8rem;
	line-height:2.8rem;
	text-align: center;
	color: #323232;
}
.color{
	color: #fe435d;
	}
#Copyright{
	color: #9d9d9d;
	margin-left: 4.85rem;
}
